@import 'tailwindcss';

@theme {
  --color-brand-blue: #4f9cf9;
  --color-brand-blue-hover: #3b82f6;
  --color-brand-navy: #043873;
  --color-brand-navy-dark: #022752;
  --color-brand-yellow: #ffe492;
  --color-brand-dark: #212529;
  --color-brand-light-blue: #c4defd;
  --color-brand-card-bg: #f8fafc;

  /*Main Font */
  --font-sans: var(--font-inter), sans-serif;
  --font-dm: var(--font-dm-sans), sans-serif;
}

html {
  scroll-behavior: smooth;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

/* Utilitare custom */
.animate-overlay-show {
  animation: fadeIn 200ms cubic-bezier(0.16, 1, 0.3, 1);
}
.animate-overlay-hide {
  animation: fadeOut 150ms ease-in;
}
.animate-content-show {
  animation: slideDown 250ms cubic-bezier(0.16, 1, 0.3, 1);
}
.animate-content-hide {
  animation: slideUp 150ms ease-in;
}
